
.home-content {
    padding: 3rem 1.5rem; 
    margin-top: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    color: #343a40;
    letter-spacing: 0.05rem;
  }
  
  h1 .text-primary {
    color: green; 
  }
  .lead {
    font-size: 1.25rem;
    color: #6c757d;
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
  }
  
  .btn-primary {
    background-color: green;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: green; /* Color más oscuro al hacer hover */
  }